/**, *:before, *:after {
    box-sizing: border-box;
  }*/

#title{
    text-align: center;
    margin: 20px auto;
    font-size: 45px;
    font-family: 'Sniglet', cursive;}
#description{
    text-align: center;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;}
#tip{
        text-align: center;
        font-size: 25px;
        font-family: 'Dancing Script', cursive;}
#contBorder{
    width: 41vw;
    height: 41vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contNormalBorder{
    background: #2b2b2b;
    animation: none;
}

.contRgbBorder{
    background:linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}


@keyframes rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

.contSpan{
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

#contBorder span{
    position: absolute;
    height: 41vw;
    width: 41vw;
}

.contSpan:nth-child(1) {
    filter: blur(5px);
  }
  
  .contSpan:nth-child(2) {
    filter: blur(10px);
  }

#container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto auto;
    width: 40vw;
    height: 40vw;
    /*border: 5px solid #0048ce;*/
    justify-content: space-between;
    z-index: 9;
}
.hover{
    text-align: center;
}
.pixelSizeCont{
    text-align: center;
}
#pixelSize{
    -webkit-appearance: none;
    background: #d3d3d3;
    border-radius: 10px;  
    width: 50%;
    height: 10px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#pixelSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #2b2b2b;
    cursor: pointer;
  }
.topDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rightDiv{
    display: flex;
    flex-direction: column;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 30px;
}
#color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    
}
#color::-moz-color-swatch{
    border-radius: 50%;
    border: 7px solid black;
}
#color::-webkit-color-swatch{
    border-radius: 50%;
    border: 3px solid #727272;
}
.clearBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #000000;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}
.push{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 22px 10px;
    height: 70px;
    width: 70px;
    background-color: #8f8f8f;
    border: 3px solid #2b2b2b;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;}

.clearBtn:active .push{
    transform: translateY(-1px);
}

.rgbBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #000000;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}

.rgbPush{
    box-sizing: border-box;
    display: block;
    padding: 22px 10px;
    height: 70px;
    width: 70px;
    background-color: #8f8f8f;
    border: 3px solid #2b2b2b;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;
    border-radius: 50%;
}


.rgbBtn:active .rgbPush{
    transform: translateY(-1px);
}
.shadow{
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

.shadowPlusBtn, .shadowMinusBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #000000;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}

.shadowMinusPush{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    background-color: #c5c5c5;
    border: 3px solid #2b2b2b;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;
}

.shadowPlusPush{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    background-color: #494949;
    border: 3px solid #2b2b2b;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;
}

.shadowPlusBtn:active .shadowPlusPush, .shadowMinusBtn:active .shadowMinusPush {
    transform: translateY(-1px);
}

#opacity{
    font-family: 'Sniglet', cursive;
}
