/**, *:before, *:after {
    box-sizing: border-box;
  }*/

#title{
    text-align: center;
    margin: 20px auto;
    font-size: 45px;
    font-family: 'Sniglet', cursive;}
#description{
    text-align: center;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;}
#tip{
        text-align: center;
        font-size: 25px;
        font-family: 'Dancing Script', cursive;}
#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 20px auto;
    width: 50vw;
    height: 50vw;
    border: 5px solid #0048ce;
    justify-content: space-between;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.555);
}
.hover{
    text-align: center;
}
.pixelSizeCont{
    text-align: center;
}
#pixelSize{
    -webkit-appearance: none;
    background: #d3d3d3;
    border-radius: 10px;  
    width: 50%;
    height: 10px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#pixelSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #0048ce;
    cursor: pointer;
  }
.topDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rightDiv{
    display: flex;
    flex-direction: column;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 30px;
}
#color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    
}
#color::-moz-color-swatch{
    border-radius: 50%;
    border: 7px solid black;
}
#color::-webkit-color-swatch{
    border-radius: 50%;
    border: 3px solid #0048ce;
}
.clearBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #00256b;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}
.push{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 22px 10px;
    height: 70px;
    width: 70px;
    background-color: #337aff;
    border: 3px solid #0048ce;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;}

.clearBtn:active .push{
    transform: translateY(-1px);
}

.rgbBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #00256b;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}
.rgbPush{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 22px 10px;
    height: 70px;
    width: 70px;
    background-color: #337aff;
    border: 3px solid #0048ce;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;}

.rgbBtn:active .rgbPush{
    transform: translateY(-1px);
}
.shadow{
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

.shadowPlusBtn, .shadowMinusBtn{
    box-sizing: border-box;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #00256b;
    border: none;
    padding: 0px;
    /*color: whitesmoke;*/
    cursor: pointer;
    outline-offset: 4px;
}

.shadowMinusPush{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    background-color: #7dabff;
    border: 3px solid #0048ce;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;
}

.shadowPlusPush{
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    background-color: #1165ff;
    border: 3px solid #0048ce;
    color: whitesmoke;
    transform: translateY(-3px);
    font-family: 'Sniglet', cursive;
}

.shadowPlusBtn:active .shadowPlusPush, .shadowMinusBtn:active .shadowMinusPush {
    transform: translateY(-1px);
}

#opacity{
    font-family: 'Sniglet', cursive;
}